body, html {
    background-color: #eee;
    font-family: 'Ubuntu', sans-serif;   
}

#progress {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
}

#progress .bar {
    height: 5px;
    width: 50%;
    background-color: cornflowerblue;
}

.flex-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    height: 100%;
    position: relative;
}

.flex-container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.flex-item {
    height: 200px;
}

.flex-item1 {
    height: 200px;
    align-self: flex-end;
}

.flex-item2 { /** Whats on now **/
    background-color: #fff;
    align-self: flex-start;
    margin-top: 18px;
    height: 350px;
    width: 31%;
    border-radius: 20px;
    box-shadow: 10px 10px 20px grey;
 }
 
.flex-item3 { /** Upcoming Events **/
    width: 95%;
    align-content: center;
    justify-content: space-around;
}
.flex-item3 h2 {
    margin-top: 0px;
}
.flex-item3 h3 {
    margin: 20px 0 3px;
    font-weight: bold;
    text-transform: uppercase;
}

h1 {
    position: relative;
    font-size: 40px;
    margin-top: 0;
}

.room1 {
    background-color: #d14f00;
}
.toprow.room1 > div:first-child {
    background-color: #b34400;
}
.bottomrow.room1 {
    border-left: 10px solid #b34400;
}

.room2 {
    background-color: #2E4E07;
}
.toprow.room2 > div:first-child {
    background-color: #294606;
}
.bottomrow.room2 {
    border-left: 10px solid #1c2f04;
}

.room3 {
     background-color: #3E4E98;
}
.toprow.room3 > div:first-child {
     background-color: #34427f;
}
.bottomrow.room3 {
    border-left: 10px solid #34427f;
}

.toprow h3 {
    color: white;
    position: absolute;
    bottom: 15px;
    text-align: center;
    width: 100%;
}

.toprow h2 {
    color: white;
}

.toprow h1 {
    color: white;
    margin-top: 25px;
}

.toprow {
    border-style: single;
    border-color: white;
    height: 350px;
    border-radius: 20px;  
    position: relative; 
}
.toprow > div:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.toprow h2 {
    margin-top: 0;
}

.room-border {
   border-color: #ffffff;
}

.bottomrow {
    border-style: single;
    border-color: #ffffff;
    border-radius: 10px;
    padding: 8px 15px;
}

h3,h2 {
   color: #000000;
}

.nextText {
    color: #fff;
}

.upcoming {
    color: #eee;
    font-size: 20px;
}

.clock-row {
    width: 100%;
    text-align: right;
    padding: 20px 20px 0;
    margin: 0;
    position: relative;
}

.error-row {
    width: 100%;
    text-align: left;
    margin: 0 10px;
    color: red;
    font-size: 10px;
    font-style: italic;
    position: absolute;
}

.please-call {
    width: 95%;
    margin: 0 auto;
    position: absolute;
    bottom: 7px;
    text-align: center;
}

.page-content {
    margin: 30px;
    border: 1px solid black;
    box-shadow: 3px 3px 10px grey;    
    border-radius: 20px;
    padding: 20px;
    font-size: 18px;
    background-color: white;
}

.page-content dl {
    font-size: 16px;
}

ul.where {
    margin-left: 120px;
}
ul.where li span {
    font-size: 0.8em;
    color: darkgray;
    margin-right: 15px;
}

#hart-page ul {
    font-size: 12px;
    margin-left: 0;
}

.images {
    text-align: center;
}
.images img {
    max-width: 250px;
    margin: 30px;
}
